*{
    margin: 0px;
    padding: 0px;
}


/* banner related style */
.banner{
    background-image: url("img/Banner\ Image.png"),
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 140px;
    

}
.banner-title{
    padding-top: 180px;
}
.new{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
}
.happy{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

/* deal related style */
.deal{
    margin-top: 120px;
}
.off{
    font-size: 88px;
    font-weight: 800px;
    text-align: center;
    color: #F00;
}
.our{
    font-size: 24px;
    font-weight: 500px;
    text-align: center;
    color: #F00;
    padding-top: 40px;
    padding-bottom: 16px;
}
.all{
    font-size: 48px;
    font-weight: 700px;
    text-align: center;
    color: #070211;
}
.img{
    width: 800px;
    height: 500px;
    padding-top: 40px;
    margin-left: 350px;
    
}