*{
    margin: 0px;
    padding: 0px;
}


/* banner related style */
.banner{
    background-image: url("img/Banner\ Image.png"),
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-size: cover;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 50px;
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 140px;
    

}
.banner-title{
    padding-top: 180px;
}
.new{
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
}
.happy{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}